@font-face {
  font-family: 'iconfont';  /* project id 1064307 */
  src: url('//at.alicdn.com/t/font_1064307_px1z81x9k69.eot');
  src: url('//at.alicdn.com/t/font_1064307_px1z81x9k69.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1064307_px1z81x9k69.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1064307_px1z81x9k69.woff') format('woff'),
  url('//at.alicdn.com/t/font_1064307_px1z81x9k69.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1064307_px1z81x9k69.svg#iconfont') format('svg');
}

.iconfont, [class^="la-icon-"] {
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}