.custom-toast {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 180px;
  height: 180px;
  margin: auto;
  z-index: 9999;
  .toast-box {
    color: #fff;
    padding-top: 20px;
    border-radius: 5%;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    font-size: 0;
    overflow: hidden;
  }

  .toast-p {
    height: 50px;
    padding: 0 10px 10px;
    line-height: 50px;
    font-size: 28px;
  }

  .toast-icon {
    display: table;
    width: 80px;
    height: 80px;
    margin: 10px auto;
    font-size: 70px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    &:before {
      display:table-cell;
	    vertical-align:middle;
    }
  }

  .icon-warning {
    &:before {
      content: '\e64f';
    }
  }

  .icon-loading {
    &:before {
      content: '\e65d';
    }
    animation: rotate 1.5s infinite linear;
  }

  .icon-success {
    &:before {
      content: '\e631';
    }
  }

}
