.custom-toast {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 200px;
  height: 200px;
  text-align: center;
  z-index: 9999;
  @media screen and (max-width: 320px){
    width: 220px;
  }
  .toast-box {
    display: inline-block;
    min-width: 200px;
    color: #fff;
    padding: 20px 0;
    border-radius: 14px;
    background: rgba(0, 0, 0, .6);
    @media screen and (max-width: 320px){
      padding: 30px 0;
      min-width: 220px;
    }
  }

  .toast-p {
    height: 50px;
    line-height: 50px;
    margin: 0 10px;
    font-size: 24px;
    overflow: hidden;
    &.max-font {
      font-size: 28px;
    }
  }

  .toast-icon {
    display: table;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    font-size: 80px;
    &:before {
      display: table-cell;
	    vertical-align: middle;
    }
  }

  .icon-warning {
    &:before {
      content: '\e64f';
    }
  }

  .icon-loading {
    &:before {
      content: '\e65d';
    }
    animation: rotate 1.5s infinite linear;
  }

  .icon-success {
    &:before {
      content: '\e631';
    }
  }

}

.toast-info {
  width: auto;
  pointer-events: none;
  .toast-icon {
    display: none;
  }
  .toast-p {
    max-width: 500px;
    margin: 0 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
