.custom-toast {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  margin: auto;
  z-index: 9999;
  .toast-box {
    color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    font-size: 0;
  }

  .toast-p {
    font-size: 28px;
    color: #fff;
    line-height: 1.5;
  }

  .toast-icon {
    width: 33.33%;
    height: 33.33%;
    display: inline-block;
    margin: 40px auto 10px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
  }

  .icon-warning {
    background-image: url(./images/toast/warn@2x.png);
  }

  .icon-loading {
    background-image: url(./images/toast/loading-rotate@2x.png);
    animation: rotate 1s infinite linear;
  }

  .icon-success {
    background-image: url(./images/toast/success@2x.png);
  }

}
